div#social-media-links {
    ul {
        text-align: center;
        padding: 0px 5px 10px 5px;
        li {
            display: inline;
            a {
                span {
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    margin: 0 3px 0 3px;
                }
                @media screen and (max-width: 1000px) {
                    span {
                        width: 43px;
                        height: 43px;
                        margin: 3px;
                    }
                }
                @media screen and (max-width: 400px) {
                    span {
                        width: 40px;
                        height: 40px;
                    }
                }
                @media screen and (max-width: 300px) {
                    span {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }
    }
}