#facebook-icon {
    background-image: url('../images/svg/facebook_circle.svg');
}
#twitter-icon {
    background-image: url('../images/svg/twitter_circle.svg');
}
#instagram-icon {
    background-image: url('../images/svg/instagram_circle.svg');
}
#linkedin-icon {
    background-image: url('../images/svg/linkedin_circle.svg');
}
#vimeo-icon {
    background-image: url('../images/svg/vimeo_circle.svg');
}
#youtube-icon {
    background-image: url('../images/svg/youtube_circle.svg');
}